<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ceci est une newsletter !</h1>
    <p>
      Thp c'est de la bombe ! Mais parfois c'est dur
    </p>
  </body>
</html>
