<!--  FOOTER -->
  <div id="footer">
      <div class="left">Made in Lyon, with the team 1
      </div>
      <div class="right">
          Find me on
          <a href="https://github.com/AndreaPlm" target="_blank">
          <%= image_tag("github.png", class: "github") %> </a>
      </div>
   </div>
