
<div id="navbar">
  <ul>
    <div id="navline">
        <li><a href="/"><%=image_tag("logo.png", class: "menu") %> </a> </li>
        <li class="who">Whooo are you ? (ouhou ouhou)</li>
        <li class="link"><a href="/students">Etudiant.e</a></li>
        <li class="link"><a href="/corp">Entreprise</a></li>
        <li class="link"><a href="/lyon">Lyonnais.e</a></li>
    </div>
  </ul>
</div>
