
<div id="content">


    <div class="wrapper-content" >
        <div class="wrapper-text"class="col-sm-6" style="background-color:rgba(250, 250, 250, 0.9);">

              L'histoire
              </br>
Notre mantra
</br>

Pour nous l'éducation est un bien beaucoup trop important pour n'être confié qu'à des organismes qui font payer leurs élèves plusieurs milliers d'euros par année. Nous souhaitons rendre l'apprentissage ouvert à tous et accessible au plus grand nombre. Comme notre nom l’indique, nous nous inspirons au maximum de l’esprit hacker. 
</br>
Nous encourageons l’accès libre à la connaissance, l’apprentissage par la débrouillardise et l’efficience dans la résolution de problèmes. Les hackers construisent des solutions efficaces et anticonformistes aux dysfonctionnements de ce monde. Les parcours que l'on donne ne sont que des étapes (fascinantes) du voyage.
</br>
Nos origines
</br>

Nous sommes en janvier 2017, Félix décide d'apprendre à coder, mais est repoussé par l'offre actuelle : trop onéreuse, ou trop longue. Il décide de faire son propre coding bootcamp, gratuit et ouvert à tous, en suivant une version améliorée de The Odin Project. Charles, à deux jours de signer un CDI, décide de le refuser pour tenter l'aventure du code. Dans ce premier groupe il y aura : Fabien le physicien nucléaire, Hugo le growth hacker nomade, Elise la marketeuse, Félix le product guy et Charles le business guy. 
</br>
Ensemble, ils décident de relever le défi de l'apprentissage du code. Pour le bien de tous, ils arrivent à finir la formation (non sans quelques dommages infligés au cerveau) et leur niveau impressionnent leurs amis tech.
Félix et Charles décident donc que le peer-learning est une technique d'apprentissage qui a un gros potentiel, et se sont associés pour partager au plus grand nombre cette formation.
</br>
Lancement
</br>

Durant la formation Félix et Charles décident de s'associer, pour le meilleur et pour le pire. Ils décident donc de lancer une session de formation pour l'été 2017, qui durera 11 semaines, à temps plein. Au 3 juillet, plus de 80 corsaires décident de rejoindre l'aventure et apprennent à coder ensemble sur Ruby et Ruby on Rails. 
Suivront de longues nuits et journées de travail pour adapter le cursus et le programme à des élèves exigeants et de différents niveaux (pour la session de juillet les cursus vont du polytechnicien au caporal-chef en ré-orientation professionnelle). Nous pensons que la méthode d'apprentissage de l'école 42 (pair-programming) est la meilleure méthode pour apprendre à coder et se rendre compte de l'importance du travail en équipe. Notre méthodologie a fait des émules et aujourd'hui nous travaillons avec l'ESSEC et l'INSEEC sur des cours d'informatique.


        </div>


    </div>

</div>
