.avatar {
  border-radius: 50%;
  width: auto;
  height: 250px;
  margin-top: 15px;
  column-span: 2;
  padding-left: 25px;

}

.imglanding {
  border-radius: 50%;
  width: auto;
  height: 300px;

}

.menu {
  border-radius: 50%;
  width: auto;
  height: 50px;  
}
